<div class="login-form {{#fail}}invalid{{/fail}}">
	<form method="POST" action="{{app.base}}login/login">
		<h1 class="header">[[Sign in]]</h1>
		<div class="login-input-group form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input type="text" name="username" value="{{username}}" class="form-control" placeholder="[[Username]]" {{^username}}autofocus{{/username}}>
			</div>
		</div>
		<div class="login-input-group form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
				<input type="password" name="password" class="form-control" placeholder="[[Password]]" {{#username}}autofocus{{/username}}>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check"></i> [[Sign in]]</button>
		</div>
	</form>
</div>
